@charset "EUC-KR";

#form {
  margin-left: 320px;
  margin-top: 110px;
}

#form {
  float: left;
  margin-top: 50px;
  height: 500px;
}

/* Style for the year_month_date container */
#year_month_date {
  margin-top: 20px;
}

/* Style for the year, month, date select elements */
#year, #month, #date {
  margin-right: 10px;
}

/* Style for the y_m_d_dtn button */
#y_m_d_dtn {
  background-color: #2b61f7;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the container_delivery_state */
#container_delivery_state {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

/* Style for the delivery_state_select */
#delivery_state_select {
  flex: 1;
  margin-right: 10px;
}

/* Style for the delivery_state_search input */
#delivery_state_search {
  flex: 2;
  padding: 5px;
}

/* Style for the search_dtn button */
#search_dtn {
  background-color: #2b61f7;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the container_table */
#container_table {
  margin-top: 20px;
}

/* Style for the table headers */
th {
  background-color: #333;
  color: #fff;
}

/* Style for the table cells */
td {
  padding: 8px;
}

/* Style for the table-bordered class */
.table-bordered {
  border: 1px solid #ccc;
}

/* Style for the btn_group */

/* Center-align the btn-group */
#btn_group {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Center-align the buttons inside the btn-group */
.btn-group {
  display: inline-block;
}

/* Style for the buttons inside the btn_group */
.btn-group button {
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

/* Style for the active button */
.btn-group button.active {
  background-color: #fff;
  color: #333;
}