<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fs.mapper.StorageMapper">

	<!-- 관리자 데이터 삽입 -->
	<insert id="mng_insert" parameterType="com.fs.model.ManagerVO">
		insert into manager (m_id,
		m_pw, m_name, m_email, m_phone, m_power) values
		(#{m_id}, #{m_pw},
		#{m_name}, #{m_email}, #{m_phone}, #{m_power})
	</insert>

	<!-- 관리자 데이터 수정 -->
	<update id="mng_update" parameterType="com.fs.model.ManagerVO">
		UPDATE manager set m_power
		= #{m_power} WHERE m_id = #{m_id};
	</update>

	<!-- 관리자 데이터 검색 -->
<select id="mng_search" resultType="com.fs.model.ManagerVO">
    SELECT * FROM manager
    WHERE ${type} LIKE concat('%', ${keyword}, '%')
</select>

	<select id="SR_print" resultType="com.fs.model.Storage_ReserveVO">
		select * from storage_reserve where u_id = #{u_id};
	</select>
	
		<delete id="SR_delete">
		DELETE FROM storage_reserve WHERE sr_id = #{sr_id};
	</delete>

	<select id="mng_overlap" resultType="int" parameterType="String">
		SELECT
		COUNT(*) FROM manager WHERE m_id = #{m_id}
	</select>
	
	<!-- 총 게시글 갯수 출력 -->
<select id="countBoard" resultType="int">
	SELECT COUNT(*) FROM manager
</select>

<!-- 페이징 처리 후 게시글 조회 -->
<select id="selectBoard" resultType="com.fs.model.ManagerVO">
SELECT * 
FROM (
    SELECT *, ROW_NUMBER() OVER (ORDER BY m_name) AS RN
    FROM manager
) AS A
WHERE RN BETWEEN #{start} AND #{end};
</select>

</mapper>