<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="memberMapper">


    <insert id="insert_today_delivery">
        insert into today_delivery (u_id, td_name, td_phone, td_volume, td_address, postcode, u_detail_address, kind_release, delivery_fee) values
                          ('km1', #{td_name}, #{td_phone}, #{td_volume}, #{td_address}, #{postcode}, #{u_detail_address}, #{kind_release}, #{delivery_fee})
    </insert>
    
    <insert id="insert_routine_delivery">
        insert into routine_delivery 
        (u_id, rd_name, rd_phone, rd_kind_release, rd_volume, rd_start, rd_cycle1, 
        rd_cycle2, rd_delivery_fee, rd_postcode, rd_address, rd_detail_address) values
        ('km1', #{rd_name}, #{rd_phone}, #{rd_kind_release}, #{rd_volume}, #{rd_start}, 
        #{rd_cycle1}, #{rd_cycle2}, #{rd_delivery_fee}, #{rd_postcode}, #{rd_address}, #{rd_detail_address})
    </insert>
    
    <select id="list_routine_delivery" resultType="com.fs.vo.Routine_delivery_VO">
    select * from routine_delivery a join kind_release b
    on a.u_id=b.u_id and a.u_id='km1' and a.rd_kind_release=b.kind
    </select>

	<select id="list_today_delivery" resultType="com.fs.vo.Today_delivery_VO">
select * from today_delivery a join kind_release b
on a.u_id=b.u_id and a.u_id='km1' and a.kind_release=b.kind
	</select>
	
	<!-- 당일 배송 검색 기능 -->
		<select id="selectsearch" resultType="com.fs.vo.review_VO">
select * from today_delivery a join kind_release b
on a.u_id=b.u_id and a.u_id='km1' and a.kind_release=b.kind where ${searchName} like concat('%',#{searchValue},'%') <!-- #은 데이터값 -->
	</select>
	
	<select id="delivery_sum" resultType="com.fs.vo.Today_delivery_VO">
	select sum(delivery_fee) as 'delivery_sum' from today_delivery a join kind_release b
on a.u_id=b.u_id and a.u_id='km1' and a.kind_release=b.kind
	</select>
	
	
	<select id="user" resultType="com.fs.vo.Login_home_VO">
	select * from user where u_id = 'km1'
	</select>
	
		<select id="kind_release" resultType="com.fs.vo.kind_release_VO">
	select u_id,kind,container_type,container_num from kind_release where u_id = 'km1'
	</select>

</mapper>