<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="com.fs.mapper.UserMapper">

  	<insert id="userJoin">
		<!--insert into user values('userID_1', 'userPW_2', 'Name', 'Email', '010-1234-5678', '경민컴퍼니', '경민컴퍼니주소', '비회원', '경민은행', '박지수', '계좌번호'); -->
		<!-- insert into user (u_id, u_pw, u_name, u_email,u_phone, u_company_name, u_company_address) values('userID', 'userPW_2','Name', 'Email', '010-1234-5678', '경민컴퍼니', '경민컴퍼니주소'); -->
		insert into user (u_id, u_pw, u_name, u_email,u_phone, u_company_name, u_company_address, u_detail_address, u_member) values (#{u_id}, #{u_pw}, #{u_name}, #{u_email}, #{u_phone}, #{u_company_name}, #{u_company_address}, #{u_detail_address}, '회원')
  	</insert>
  	
  	 <!-- 아이디 중복검사 -->
  	<select id="idCheck" resultType="int">
  		select count(*) from user where u_id = #{u_id};
  	</select>

</mapper>