@charset "UTF-8";

/* footer 화면 하단에 고정 */
#layoutAuthentication_footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa; /* 배경색 설정 */
    padding: 10px 0; /* 원하는 여백 설정 */
    text-align: center;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1); /* 그림자 추가 (선택사항) */
}